<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="JSON Provider Demo Tenant">
					<targetDataStore physicalRootPath="C:\inetpub\wwwroot\def.sc\App_Data\unicorn\Tenant" />
					<predicate>
						<include database="master" path="/sitecore/system/Data Exchange/Blog Tenant" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>