<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="JSON Provider Demo Tenant">
					<targetDataStore physicalRootPath="C:\inetpub\wwwroot\def.sc\App_Data\unicorn\Tenant" />
					<predicate>
						<include name="Tenant" database="master" path="/sitecore/system/Data Exchange/Blog Tenant" />
						<include name="Templates" database="master" path="/sitecore/templates/Feature/Blogs" />
						<include name="Authors" database="master" path="/sitecore/content/Home/Authors">
							<exclude children="true" />
						</include>
						<include name="Blog Posts" database="master" path="/sitecore/content/Home/Blog Posts">
							<exclude children="true" />
						</include>
						<include name="Categories" database="master" path="/sitecore/content/Home/Categories">
							<exclude children="true" />
						</include>
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>