<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="DEF JSON Provider">
          <targetDataStore physicalRootPath="C:\inetpub\wwwroot\def.sc\App_Data\unicorn\Provider" />
          <predicate>
						<include name="Templates" database="master" path="/sitecore/templates/Data Exchange/Providers/JSON" />
            <include name="Insert Options Rules" database="master" path="/sitecore/system/Settings/Rules/Insert Options/Rules/Data Exchange - JSON Provider" />
            <include name="Settings" database="master" path="/sitecore/system/Settings/Data Exchange/Providers/JSON" />
            <include name="Branch Templates" database="master" path="/sitecore/templates/Branches/Data Exchange/Providers/JSON" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
