<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
				<configuration name="DEF JSON Provider">
					<predicate>
						<include database="master" path="/sitecore/templates/Data Exchange/Providers/JSON" />
					</predicate>
				</configuration>
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
